<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <style>
      @media (max-width:800px){
        
      }
    </style>

    <title>Auth News</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #8B5CF6;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#" style="color: white;">Auth News</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/" style="color: white">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about_us" style="color: rgb(228, 224, 224);">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#fnd" style="color: rgb(228, 224, 224);">Detection</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#team" style="color: rgb(228, 224, 224);">Our Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact" style="color: rgb(228, 224, 224);">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {% if message!="" %}
      <div class="alert alert-success alter-dismissable fade show" role="alert">
        {{ message }}
        <a href="/"><button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close" onclick="myfunc()"></button></a>
      </div>
    {% endif %}

    <div class="container">
      <div class="flex flex-col text-center w-full mt-3">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Let's Make The World, Rumors Free</h1>
      </div>
      <div id="carouselExampleCaptions" class="carousel slide relative" data-bs-ride="carousel">
        <div class="carousel-indicators absolute right-0 bottom-0 left-0 flex justify-center p-0 mb-4">
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner relative w-full overflow-hidden">
          <div class="carousel-item active relative float-left w-full">
            <img src="https://source.unsplash.com/random/900x250/?newspaper,news" class="block w-full" alt="..."/>
            <!-- <div class="carousel-caption hidden md:block absolute text-center">
              <h5 class="text-xl">First slide label</h5>
              <p>Some representative placeholder content for the first slide.</p>
            </div> -->
          </div>
          <div class="carousel-item relative float-left w-full">
            <img src="https://source.unsplash.com/random/900x255/?newspaper,news" class="block w-full" alt="..."/>
            <!-- <div class="carousel-caption hidden md:block absolute text-center">
              <h5 class="text-xl">Second slide label</h5>
              <p>Some representative placeholder content for the second slide.</p>
            </div> -->
          </div>
          <div class="carousel-item relative float-left w-full">
            <img src="https://source.unsplash.com/random/910x250/?newspaper,news" class="block w-full" alt="..."/>
            <!-- <div class="carousel-caption hidden md:block absolute text-center">
              <h5 class="text-xl">Third slide label</h5>
              <p>Some representative placeholder content for the third slide.</p>
            </div> -->
          </div>
        </div>
        <button
          class="carousel-control-prev absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline left-0"
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon inline-block bg-no-repeat" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline right-0"
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon inline-block bg-no-repeat" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <div class="container" id="about_us">
      <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-col text-center w-full mb-20">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">About Us</h1>
            <p class="leading-relaxed text-base mb-4">In our website, we are going to perform binary classification of various news articles and news reports available online with the help of concepts related to AI and Machine Learning. We aim to give user the ability to classify the news as fake or real and also give ability to check the authenticity of the websites or web pages which are publishing the news articles.</p>
          </div>
          <div class="flex flex-wrap" style="justify-content: center;">
            <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
              <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Rich Dataset</h2>
              <p class="leading-relaxed text-base mb-4">Data is gathered from 244 websites. It is made up of approximately 44898 posts that were recorded over the course of 30 days. The true news data set is made of 23481 posts and the fake news data set is made of 21417.</p>
            </div>
            <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
              <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Data Cleaning</h2>
              <p class="leading-relaxed text-base mb-4">Text data was preprocessed before being input into machine learning and deep learning models, by employing NLP methods such as stop word removal, tokenization, sentence segmentation, and punctuation removal.</p>
            </div>
            <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
              <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">High Accuracy</h2>
              <p class="leading-relaxed text-base mb-4">We used the combination of two ML algorithms i.e. we used stacked model of Logistic Regression and Decision Tree which give accuracy more than 99.60%.</p>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="container" id="fnd">
      <section class="text-gray-600 body-font">
        <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
          <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
            <img class="object-cover object-center rounded" alt="hero" src="https://source.unsplash.com/random/720x600/?newspaper,news">
          </div>
          <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Fake News Detection</h1>
            <p class="mb-8">Our new era where the mobile internet is ubiquitous, every person depends on various resources which are available online for news. Due to the increase in use of social media news can be shared rapidly among various number of users within a very short duration. The spread of fake news has bad and far-reaching results like the creation of biased opinions which can lead to confusion and misunderstanding among various groups. Moreover, people who are spreading fake news use appealing news headlines to generate revenue using advertisements via click-baits. So it is important to detect fake news and stop spreading it.</p>
            <form action="/" method="POST">
              <div class="mb-3">
                <input type="text" class="form-control" id="news" name="news" placeholder="Enter news title">
              </div>
              <button type="submit" class="btn btn-primary" style="background-color: #8B5CF6;">Fake News Detector</button>
            </form>
          </div>
        </div>
      </section>
    </div>

    <div class="container" id="team">
      <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-col text-center w-full mb-20">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Our Team</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">None of us, including me, ever do great things. But we can all do small things, with great love, and together we can do something wonderful.</p>
          </div>
          <div class="flex flex-wrap -m-2">
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <a href="https://www.instagram.com/abhinandan.gautam/">
                <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                  <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="../static/Abhi.jpeg">
                  <div class="flex-grow">
                    <h2 class="text-gray-900 title-font font-medium">Abhinandan Gautam</h2>
                    <p class="text-gray-500">Co-Founder</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <a href="">
                <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                  <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="../static/Amrit.jpeg">
                  <div class="flex-grow">
                    <h2 class="text-gray-900 title-font font-medium">Amritdeep Singh</h2>
                    <p class="text-gray-500">Founder</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="../static/Bedi.jpeg">
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">Himanshu Bedi</h2>
                  <p class="text-gray-500">Co-Founder</p>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="container" id="contact">
      <section class="text-gray-600 body-font relative">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-col text-center w-full mb-12">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Contact Us</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">You want to connect with us! Fill out this form and join us to stop spread of fake news from country.</p>
          </div>
          <div class="lg:w-1/2 md:w-2/3 mx-auto">
            <div class="flex flex-wrap -m-2">
              <div class="p-2 w-1/2">
                <div class="relative">
                  <label for="name" class="leading-7 text-sm text-gray-600">Name</label>
                  <input type="text" id="name" name="name" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-purple-500 focus:bg-white focus:ring-2 focus:ring-purple-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                </div>
              </div>
              <div class="p-2 w-1/2">
                <div class="relative">
                  <label for="email" class="leading-7 text-sm text-gray-600">Email</label>
                  <input type="email" id="email" name="email" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-purple-500 focus:bg-white focus:ring-2 focus:ring-purple-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                </div>
              </div>
              <div class="p-2 w-full">
                <div class="relative">
                  <label for="message" class="leading-7 text-sm text-gray-600">Message</label>
                  <textarea id="message" name="message" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-purple-500 focus:bg-white focus:ring-2 focus:ring-purple-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
                </div>
              </div>
              <div class="p-2 w-full">
                <button type="submit" class="btn btn-primary" style="background-color: #8B5CF6;" onclick="window.location.reload();">Submit</button>
              </div>
              <div class="p-2 w-full pt-8 mt-8 border-t border-gray-200 text-center">
                <a class="text-purple-500">fake_news_detection@gmail.com</a>
                <p class="leading-normal my-2">GT Road, Jalandhar</p>
                <span class="inline-flex">
                  <a class="text-gray-500">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                      <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                    </svg>
                  </a>
                  <a class="ml-4 text-gray-500">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                      <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                    </svg>
                  </a>
                  <a class="ml-4 text-gray-500">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                      <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                      <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                    </svg>
                  </a>
                  <a class="ml-4 text-gray-500">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                      <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                    </svg>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <script>
      if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
      }
      </script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>